.navbar{
    background-color: rgba(117,89,50,1) !important;
  }

.navbarcolor{
    color: white !important;
}


.button {
  background-color: wheat !important;
  color: #755932 !important;
  border: none;
  box-shadow: none;
}